body{
    overflow: hidden;
    margin: 0;
}

main{
    display: flex;
    background-color: #D5E1EF;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainbox{
    display: flex;
        flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 288px;
    height: 443px;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    align-items: flex-start;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
    gap: 24px;

}

.QRcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
height: 288px;
    border-radius: 10px;
background: var(--color-blue-600, #2C7DFA);
}

.QRtext{
    display: flex;
    flex-direction: column;
        gap:24px;
}

.text1{
color: var(--color-slate-900, #1F314F);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
/* text-preset-1 */
font-family: outfit;
font-size: var(--font-size-text-preset-1, 22px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 26.4px */
}

.text2{
color: var(--color-slate-500, #68778D);
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;

/* text-preset-2 */
font-family: outfit;
font-size: var(--font-size-text-preset-2, 15px);
font-style: normal;
font-weight: 400;
line-height: 140%; /* 21px */
letter-spacing: 0.2px;
}

.qr{
    width: 288px;
    height: 288px;
    border-radius: 20px;
}